.sideBarContainer {
  padding: 1.1rem;
  background-color: white;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  height: 100%;
}

.sideBarList {
  padding: 0;
  list-style: none;
  margin-top: 4.5rem;
}
.siderBarListItem {
  display: flex;
  align-items: center;
  column-gap: 0.7rem;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 0.8rem 1rem;
  margin-bottom: 0.3rem;
  /* background-color: yellow; */
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  color: #666666;
}
.sideBarIcon {
  fill: #848484;
}
.activeSideBarItem {
  color: white;
  background-color: #7a5cfa;
}
.activeSideBarItem .sideBarIcon {
  fill: white;
}
